#closeAlert {
  font-size: 20px;
  color: white;
  cursor: pointer;
}
#closeAlert:hover{
  background-color: rgb(0, 0, 0);
}
#alertDiv {
  height: 50px;
  display: flex;
  padding: 7px 20px;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  top: -10px;
  min-width: 20%;
  left: 50%;
  z-index: 1004;
  transform: translateX(-50%);
  color: white;
  opacity: 0.8;
  transition: all 500ms;
  border-radius: 10px;
}
#msgBox {
  color: white;
}
