body {margin:0;font-family:Arial;padding: 0;}
body button:hover{
    cursor: pointer;
}

/* Navbar CSS */
.topnav {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}
.topnav .content{
    padding: 14px 16px;
}

.active {
  color:black;
}
.active img{
    width:150px;
    height: 50px;
}
.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 15px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
 
  color: rgb(152, 152, 220);
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width:600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* searchbar css*/

.searchbar{
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto; */
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 15px;
    border-radius: 8px;
}

#select_data{
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#main_searchbar{
    width: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#add_page_btn{
    width: 25%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#add_page_btn:hover,#selectdata:hover{
    cursor: pointer;
}
#bar{
    width: 70%;
}
#selectdata{
width:60%;
padding:10px;
border-radius:5px;
background-color:#dd0031;
color:white;
font-size:15px;
font-weight: bolder;
border: 1px solid black;
}

#main_searchbar #bar #search_data {
    width: 100%;
    padding:10px;
    border-radius:5px;
    font-size:15px ;
    border: 1px solid black;
}
#main_searchbar #btn #search_btn{
    padding:10px;
    margin-left: 5px;
    border-radius:5px;
    background-color: #dd0031;
    color:white;
    font-size:15px ;
    border: 1px solid black;
}

#add_page_btn p{
width:60%;
padding:10px;
border-radius:5px;
background-color:#dd0031;
color:white;
font-size:15px;
font-weight: bolder;
border: none;
text-align: center;
}
#search_item{
    display: flex;
}
#search_btn:hover{
    cursor: pointer;
}
/* company main container data table */
.table_div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.comp_tbl_head,.maincontainer{
    width: 100%;
}

.comp_logo{
    width: 10%;
}
.comp_name{
    width:30%;
}
.job_role{
    width: 30%;
}
.Edit_sec{
    width: 15%;
}
.delet_sec{
    width: 15%;
}

.comp_tbl_head div{
    border: 1px solid black;
}
.task, .comp_tbl_head{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
.task div{
    border: 1px solid black;
}
.comp_logo img,.profile_pic img{
    margin-top: 13%;
    width: 60%;
    height:60%;
    border-radius: 5px;
}
.Edit_sec button,.delet_sec button{
    margin-top: 13%;
    padding: 10px 10px;
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    background-color: #dd0031;
}


/* user data css */
.profile_pic{
    width: 10%;
}
.username{
    width: 25%;
}
.email_id{
    width: 35%;
}
.phone_num{
    width: 20%;
}
.date{
    width: 20%;
}

/* pagination css */

#pagination-wrapper{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.pagination-btn{
    padding: 10px;
    background-color:#dd0031;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
/* Edit page css */
#bdy_edit_pge{
    background-color:rgb(224, 228, 240);
}
#myTopnav{
    background-color: white;
}
#edit_bar{
    text-align: center;
    margin-top: 25px;
}
#add_bar{
    width: 20%;
    margin: auto;
    text-align: center;
    background-color:#dd0031 ;
    color: white;
    padding: 10px ;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 8px;
}
#edit_pge_btn{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bolder;
    background-color:#dd0031 ;
}
#edit_pge_btn:hover,body button:hover{
    background-color:rgb(93, 129, 228) ;
}
.form_of_editing{
    width: 35%;
    margin: auto;
    padding: 30px;
    margin-top: 25px;
    background-color: rgb(209, 209, 241);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}
.comp_data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    margin: 10px;
}
.comp_data label{
    font-size: 20px;
    font-weight: bolder;
}
.comp_data input{
    padding: 10px;
}
.submit_btn{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10%;
    row-gap: 10px;
    text-align: center;
}
.submit_btn div button{
    padding: 10px 35%;
    background-color: #dd0031;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 8px;
}
.submit_btn div button:hover{
    background-color: rgb(93, 129, 228);
}
#cancel a{
    color: white;
    text-decoration: none;
}
@media screen and (min-width:0px) and (max-width:399px){
    .form_of_editing{
        width: 60%;
    }
    .comp_data{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        margin: 4px;
    }
    .comp_data label{
        font-size: 12px;
        font-weight: bold;
    }
    .comp_data input{
        padding: 5px;
    }
    .submit_btn{
        grid-template-columns: repeat(1,1fr);
        column-gap: 5px;
    }
    .submit_btn div button{
        padding: 10px 30px;
        font-size: 13px;
        font-weight: bold;
    }
    #add_bar{
        width: 50%;
    }

}
@media screen and (min-width:400px) and (max-width:899px){
    .form_of_editing{
        width: 60%;
    }
    .comp_data{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        margin: 6px;
    }
    .comp_data label{
        font-size: 15px;
        font-weight: bold;
    }
    .comp_data input{
        padding: 7px;
    }
    .submit_btn{
        column-gap: 10px;
    }
    .submit_btn div button{
        padding: 10px 30px;
        font-size: 13px;
        font-weight: bold;
    }
}

@media screen and (min-width:400px) and (max-width:650px){
    .submit_btn {
       grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:1100px) and (max-width:1400px){
    .comp_data label{
        font-size: 18px;
        font-weight: bold;
    }
    .submit_btn{
        column-gap: 20px;
    }
    .submit_btn div button{
        padding: 10px 60px;
    }
}
@media screen and (min-width:900px) and (max-width:1099px){
    .comp_data label{
        font-size: 15px;
        font-weight: bold;
    }
    .submit_btn{
        column-gap: 10px;
    }
    .submit_btn div button{
        padding: 10px 40px;
        font-size: 15px;
        font-weight: bold;
    }
}
@media screen and (min-width:799px) and (max-width:925px){
    .email_id{
        width: 45%;
    }
    .phone_num{
        display: none;
    }
}
@media screen and (min-width:0px) and (max-width:798px){
    .email_id{
        width: 65%;
    }

    .phone_num{
        display: none;
    }
    .date{
        display: none;
    }
}
/* Mediun size scree */

@media screen and (min-width:480px) and (max-width:750px) {
    .searchbar{
        width: 95%;
        margin: auto;
        display:grid;
        /* justify-content: space-between; */
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto; 
        gap: 10px; 
        margin-top: 10px;
        padding-left: 10px;
    }
    #select_data{
        width: 70%;
    }
    #select_data select{
        width:100%;
    }
    #main_searchbar{
        width: 100%
    }
    #main_searchbar #bar input{
        width: 80%;
    }
    #add_page_btn{
        width: 70%;
        display: block;
       
    }
    
}

/* small size screen */
@media screen and (min-width:0px) and (max-width:479px){
    .searchbar{
        width: 95%;
        margin: auto;
        display:grid;
        /* justify-content: space-between; */
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto; 
        margin-top: 10px;
        padding-left: 10px;
    }
    #select_data{
        width: 48%;
        margin-bottom: 15px;
    }
    #select_data select{
        width:100%;
    }
    #main_searchbar{
        width: 100%;
        justify-content: left;
        align-items: flex-start;
    }
    #main_searchbar #bar input{
        width: 80%;
    }
    #add_page_btn{
        width: 70%;
        display: block;
    }

    .job_role{
        display: none;
    }
    .comp_logo{
        width: 20%;
    }
    .comp_name{
        width: 35%;
    }
    .Edit_sec{
        width: 20%;
    }
    .delet_sec{
        width: 30%;
    }
}