#doctor_details_container{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 30px;
}
h1{
    text-align: center;
}
.doctor_info{
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header{
    margin-bottom: 20px;
}