* {
  margin: 0;
  padding: 0;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.75px;
}
.nvbr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 40px;
  border-bottom: 1px solid rgba(160, 160, 163, 0.25);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.nvbr img {
  width: 5%;
  transition: all 0.5s ease-in-out;
}
.nvbr img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.nvbr a {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}
.nvbr a:nth-child(odd)::after {
  content: "";
  display: block;
  border-bottom: 3px solid #e15a53;
  width: 0;
  transition: all 0.5s ease-in-out;
}
.nvbr a:nth-child(odd):hover {
  color: #e15a53;
  transition: all 0.5s ease-in-out;
}
.nvbr a:nth-child(odd):hover::after {
  width: 100%;
}
.nvbr a:nth-child(even)::after {
  content: "";
  display: block;
  border-bottom: 3px solid #d9822b;
  width: 0;
  transition: all 0.5s ease-in-out;
}
.nvbr a:nth-child(even):hover {
  color: #d9822b;
  transition: all 0.5s ease-in-out;
}
.nvbr a:nth-child(even):hover::after {
  width: 100%;
}
#loginOpt {
  background: linear-gradient(90deg ,#d9822b, #e15a53);
  color: #fff;
  padding: 6px 20px;
  cursor: pointer;
}
#loginOpt:hover {
  background: linear-gradient(90deg, #e15a53, #d9822b);
  color: #fff;
}
#logindrop {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #d9822b;
  padding: 0 10px;
  position: absolute;
  z-index: 9999;
  top: 75px;
  right: 125px;
  display: none;
}
#logindrop a:first-child {
  border-bottom: 1px solid #d9822b;
  /* margin: 20px 0; */
}
#hamburger {
  display: none;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 36px; */
}
#hamburger span {
  width: 30px;
  height: 4px;
  background-color: #d9822b;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .nvbr {
    height: 60px;
  }
  #hamburger {
    display: flex;
    position: absolute;
    right: 20px;
  }
  .nvbr img,.nvbr a,.nvbr #logindrop, .nvbr #loginOpt {
    display: none;
  } 
}